source https://www.nuget.org/api/v2

nuget System.Reactive ~> 3
nuget System.Reactive.Interfaces 3.0.0
nuget Prism.Core ~> 6
nuget ReactiveProperty 3.0
nuget TweetinviAPI ~> 1
nuget Autofac

group Desktop
    source https://www.nuget.org/api/v2

    nuget Prism.Wpf ~> 6

group Desktop.View
    source https://www.nuget.org/api/v2

    nuget MaterialDesignThemes ~> 2
